<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class:'form-control', placeholder:'Nama Lengkap', required:'true', autocomplete:'off', style:'text-transform:capitalize;' %>
  </div>

  <div class="form-group">
    <%= form.number_field :phone, class:'form-control', placeholder:'Format 08xxxxx, pastikan terhubung Whatsapp', required:'true', autocomplete:'off' %>
  </div>

  <div class="form-group">
    <%= form.text_field :address, class:'form-control', placeholder:'Alamat Pengiriman', required:'true', autocomplete:'off', style:'text-transform:capitalize;' %>
  </div>

  <div class="actions">
    <%= form.submit "Daftar", class:'btn btn-primary' %>
  </div>
<% end %>
