<h1>Schedules</h1>

<br>

<div class="table-responsive">
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Schedule ID</th>
      <th>Dateopen</th>
      <th>Dateclose</th>
      <th colspan="3" style="width:10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.dateopen %></td>
        <td><%= schedule.dateclose %></td>
        <td><%= link_to 'List', list_scheduled_product_path(schedule), class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule), class:'btn btn-secondary' %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Schedule', new_schedule_path, class:'btn btn-primary' %>
