<br>

<h4>#<%= params[:id]%></h3>

<h5><strong>Date Open : <%= @schedules.dateopen.to_formatted_s(:rfc822) %></strong></h5>
<h5><strong>Date Close : <%= @schedules.dateclose.to_formatted_s(:rfc822) %></strong></h5>
<hr>

<center><h3>Product List in This Schedule (<%= @total %>)</h3></center>
<br>
<div class='row'>
  <div class='col-md-6'>
  <%= render 'form', scheduled_product: @scheduled_product %>
  </div>

  <div class='col-md-6'>
    <div class="table-responsive">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Product Name</th>
            <th colspan="3" style="width:10%"></th>
          </tr>
        </thead>

        <tbody>
          <% @existing_scheduled_products.each do |scheduled_product| %>
            <tr>
              <td style='text-transform:capitalize;'><%= scheduled_product.product.name %></td>
              <td><%= link_to 'Destroy', scheduled_product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= link_to 'Finish Adding Product', schedules_path, class:"btn btn-success btn-block" %>
<br>